<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">ciara</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="hibernate.connection.username">BMDRIVE</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.projetBMDrive.entities.BmdIdentite"/>
        <mapping class="com.projetBMDrive.entities.BmdVisiteur"/>
        <mapping class="com.projetBMDrive.entities.BmdAgentbm"/>
        <mapping class="com.projetBMDrive.entities.BmdLivre"/>
        <mapping class="com.projetBMDrive.entities.BmdArticle"/>
        <mapping class="com.projetBMDrive.entities.BmdPanier"/>
        <mapping class="com.projetBMDrive.entities.BmdAdresse"/>
        <mapping class="com.projetBMDrive.entities.BmdCasier"/>
        <mapping class="com.projetBMDrive.entities.BmdCategorie"/>
        <mapping class="com.projetBMDrive.entities.BmdAdherent"/>
        <mapping class="com.projetBMDrive.entities.BmdReservation"/>
        <mapping class="com.projetBMDrive.entities.BmdSupportmedia"/>
    </session-factory>
</hibernate-configuration>
